.idea
.atom
.vscode
.DS_Store
.sass-cache
.env
node_modules
guide
*.map
*.log
!.keep
!.gitkeep
/wp/*
!/wp/wp-content/
/wp/wp-content/*
!/wp/wp-content/themes/
/wp/wp-content/themes/*/assets/
!/wp/wp-content/themes/lig-wordpress-template/