// break points
$break-point: (
        break: 768,
        max: 3840,
        fhd: 1920,
        large: 1600,
        pc: 1440,
        hd: 1280,
        tab: 1024,
        tab-min: 768,
        sp-large: 414,
        sp: 375,
        sp-min: 320,
);