//article
.article {
  position: relative;
}

.article__link {
  display: flex;
  flex-direction: column-reverse;
}

.article__data {
  display: flex;
  flex-direction: column-reverse;
}

.article__title {
  //
}

.article__time {
  //
}

.article__term {
  //
}

.article__thumb {
  overflow: hidden;
}

.article__thumb-img {
  transition: transform ease 0.8s;
  width: 100%;
  height: rem(240);
  object-fit: cover;
  transform-origin: center center;
  transform: scale(1);
  @at-root .article__link:hover & {
    transition: transform ease 0.8s;
    transform: scale(1.25);
  }
}