//breadcrumbs

.breadcrumbs {
  //
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item {
  &:not(.is-last):after {
    content: "ï¼";
    display: inline-block;
  }
}

.breadcrumbs__link {
  //
}