//burger
.burger {
  @extend %dummy-icon;
}

.burger__main {
  position: relative;
  width: 70%;
  height: 70%;
  right: -15%;
}

.burger__line {
  width: 100%;
  height: 2px;
  position: absolute;
  transform-origin: center center;
  background: $black;

  &--first {
    top: 20%;
  }
  &--second {
    top: calc(50% - 1px);
  }
  &--third {
    top: calc(80% - 2px);
  }

  @at-root .is-open & {
    &--first {
      top: calc(50% - 1px);
      transform: rotate(45deg);
    }
    &--second {
      display: none;
    }
    &--third {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
    }
  }
}