//mv
.mv {
  position: relative;
}

.mv__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 5;
  height: 100%;
  background: $gray;
}

.mv__title {
  //
}

.mv__title-jp {
  display: block;
}

.mv__title-en {
  //
}

.mv__description {
  //
}

.mv__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mv__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}